In [3]:
#import SARS data
import pandas as pd

raw_data = pd.read_json('datasets/sars_stat.json')

In [4]:
print(raw_data.head(10))

41   \
date                                          2003_03_17
cases                                                167
death                                                  4
data   {'Germany': {'case': 1, 'death': 0}, 'Canada':...

                                                     42   \
date                                          2003_03_18
cases                                                219
death                                                  4
data   {'Germany': {'case': 2, 'death': 0}, 'Canada':...

                                                     43   \
date                                          2003_03_19
cases                                                264
death                                                  9
data   {'Canada': {'case': 8, 'death': 2}, 'China': {...

                                                     44   \
date                                          2003_03_20
cases                                                306
death                                                 10
data   {'Canada': {'case': 9, 'death': 2}, 'China': {...

                                                     45   \
date                                          2003_03_21
cases                                                350
death                                                 10
data   {'Canada': {'case': 9, 'death': 2}, 'China': {...

                                                     46   \
date                                          2003_03_22
cases                                                386
death                                                 11
data   {'Canada': {'case': 9, 'death': 2}, 'China': {...

                                                     48   \
date                                          2003_03_24
cases                                                456
death                                                 17
data   {'Canada': {'case': 11, 'death': 3}, 'China': ...

                                                     49   \
date                                          2003_03_25
cases                                                487
death                                                 17
data   {'Canada': {'case': 11, 'death': 3}, 'China': ...

                                                     50   \
date                                          2003_03_26
cases                                               1323
death                                                 49
data   {'Canada': {'case': 19, 'death': 3}, 'China': ...

                                                     51   ...  \
date                                          2003_03_27  ...
cases                                               1408  ...
death                                                 53  ...
data   {'Canada': {'case': 28, 'death': 3}, 'China': ...  ...

                                                     146  \
date                                          2003_06_30
cases                                               8447
death                                                811
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     147  \
date                                          2003_07_01
cases                                               8445
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     148  \
date                                          2003_07_02
cases                                               8442
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     149  \
date                                          2003_07_03
cases                                               8439
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     150  \
date                                          2003_07_04
cases                                               8439
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     153  \
date                                          2003_07_07
cases                                               8439
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     154  \
date                                          2003_07_08
cases                                               8436
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     155  \
date                                          2003_07_09
cases                                               8436
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     156  \
date                                          2003_07_10
cases                                               8437
death                                                812
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

                                                     157
date                                          2003_07_11
cases                                               8437
death                                                813
data   {'Australia': {'case': 5, 'death': 0}, 'Brazil...

[4 rows x 96 columns]